<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1">
                <h2 class="font-weight-light">About Us</h2>
                <p class="font-italic text-muted mb-4">We are an online platform that brings together car buyers and sellers, providing a convenient and efficient way to buy and sell vehicles. Whether you're looking to find your dream car or sell your current vehicle, our platform offers a seamless experience for automotive enthusiasts and professionals alike.</p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://media.istockphoto.com/id/1286378180/vector/website-information-concept.jpg?s=612x612&w=0&k=20&c=6v9Hcbp0zp5itIPIywobPQF13YsHIQ4j_srF5VbQusY=" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto mb-5"><img src="https://img.freepik.com/premium-vector/small-business-people-standing-around-huge-target-idea-business-goal-arrow-as-metaphor-achievement-success-illustration_277904-3964.jpg?w=2000" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6 mb-5">
                <h2 class="font-weight-light">Our Mission</h2>
                <p class="font-italic text-muted mb-4">
                    At Speed Bids, our mission is to connect buyers and sellers in a transparent and reliable marketplace. We aim to provide a trustworthy platform that offers a wide range of vehicles, ensuring both buyers and sellers have a fair and efficient experience.

                </p>
            </div>
        </div>
        <div class="bg-light">
            <div class="container py-5">
                <div class="row h-100 align-items-center py-5">
                    <div class="col-lg-6">
                        <h1 class="display-4">HOW IT WORKS</h1>
                        <p class="lead text-muted mt-5">Buyers can browse through our extensive inventory of vehicles, which includes a diverse selection of makes, models, and price ranges. Each vehicle listing includes detailed information, including specifications, mileage, condition reports, and high-quality images to help buyers make informed decisions.</p>
                        <p class="lead text-muted mt-5">
                            Sellers can take advantage of our platform to showcase their vehicles to a large pool of potential buyers. We offer various listing options to suit individual needs, allowing sellers to reach a broader audience and maximize their chances of selling their vehicles at competitive prices.
                        </p>
                        <h3 class="lead mt-5">Our Auction Process: </h3>
                        <p class="lead text-muted mt-3">
                            We employ a user-friendly auction system that facilitates the bidding process. Buyers can place bids on vehicles of interest, and our platform ensures fair competition by providing real-time updates on bidding activity. This creates a dynamic environment that allows buyers to secure the best possible deals.
                        </p>
                    </div>
                    <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-8">
                    <img src="https://clipart-library.com/img/1902773.jpg" alt="Your Image" class="img-fluid">
                    <h1 class="display-4">Trust And Security</h1>
                    <p class="lead text-muted mt-5">We prioritize trust and security to ensure a safe environment for all users. Our platform implements robust verification processes to authenticate both buyers and sellers, reducing the risk of fraudulent activities. We also provide secure payment options, giving buyers and sellers peace of mind during transactions.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer><p class="text-muted justify-content-center text-center">© Copy Rights Reserved</p></footer>