@using SpeedBids.Entities.Enums;
@model IEnumerable<SpeedBids.Entities.Product>

<link rel="stylesheet" href="~/css/Page.css" asp-append-version="true" />

@{
	ViewData["Title"] = "Home Page";
}

<video class="w-100" autoplay loop muted>
	<source src="~/video/homepagevideo.mp4" type="video/mp4" />
</video>
<div class="container-fluid">
	<div class="row justify-content-center" style="margin-top: 25px;">
		<div class="col-md-6 p-2">
			<p class="text-center">
				Welcome to Speed BID NOWs, your ultimate destination for buying and selling automobiles through our dynamic and innovative car auction platform.
				With a passion for connecting car enthusiasts, dealerships, and private sellers, we have created a seamless online marketplace that caters to all your automotive needs.
			</p>
			<p class="text-center"><a asp-controller="Home" asp-action="About" class="text-decoration-none">Learn More >></a></p>
		</div>
	</div>
</div>
<hr />

<link rel="stylesheet" href="https://fontawesome.com/v4.7.0/assets/font-awesome/css/font-awesome.css">

<div class="filters"> <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#mobile-filter" aria-expanded="true" aria-controls="mobile-filter">Filter<span class="px-1 fas fa-filter"></span></button> </div>
<div id="mobile-filter">
	<div class="py-3">
		<h5 class="font-weight-bold">Categories</h5>
		<ul class="list-group">
			@foreach (var carMake in Enum.GetValues(typeof(ECarMake)))
			{
				<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"><a href="#">@carMake  </a></li>
			}
		</ul>
	</div>
</div>
<div class="content py-3">
	<h3>Product Filter</h3>
	<section id="sidebar">
		<div class="py-3">
			<h5 class="font-weight-bold">Car Make</h5>
			<ul class="list-group">
				@foreach (var carMake in Enum.GetValues(typeof(ECarMake)))
				{
					<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
						@carMake
					</li>
				}
			</ul>
		</div>
		<div class="py-3">
			<h5 class="font-weight-bold">Car Type</h5>
			<form class="brand">
				@foreach (var carType in Enum.GetValues(typeof(ECarType)))
				{
					<div class="form-inline d-flex align-items-center py-1">
						<label class="tick">
							@carType
							<input type="checkbox">
							<span class="check"></span>
						</label>
					</div>
				}
			</form>
		</div>
		<div class="py-3">
			<h5 class="font-weight-bold">Color</h5>
			<form class="rating">
				@foreach (var carColor in Enum.GetValues(typeof(EColor)))
				{
					<div class="form-inline d-flex align-items-center py-2">
						<label class="tick">
							@carColor
							<input type="checkbox">
							<span class="check"></span>
						</label>
					</div>
				}
			</form>
		</div>
		<div class="d-flex container-fluid pb-5 mb-5">
			<button class="btn btn-primary w-75">APPLY</button>
		</div>
	</section> <!-- Products Section -->
	<section id="products">
		<div class="container py-3">
			<div class="row">
				@foreach (var product in Model){
					<div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 pt-lg-4 pt-4">
						<div class="card">
							<img class="card-img-top" name="productImage" src=@product.ProductImage>
							<div class="card-body">
								<h6 class="font-weight-bold pt-1"></h6>
								<div class="text-muted description" name="productDescription">@product.ProductDescription</div>
								<div class="row justify-content-center border rounded-pill" id="countdown" style="margin: 5px;">
									TIMER
								</div>
								<div class="d-flex align-items-center justify-content-between pt-3">
									<div class="d-flex flex-column">
										<div class="h6 font-weight-bold" name="productPrice">$@product.ProductPrice</div>
									</div>
									<a class="btn btn-primary" href="/Bid/Index?productId=@product.ProductId">BID NOW</a>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</section>
</div>

<script>
	function openPopup() {
		window.open('/Bid/Index', 'Popup Window', 'width=500,height=500');
	}
</script>