html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#logo {
    height: 75px;
}

.input-group-addon {
    display: flex;
    align-items: center;
    font-weight: bold;
    height: 100%;
}







